/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 500px;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: var(--text-small);
    letter-spacing: 1px;

    transition: all 0.2s ease;
}

.btn:active {
    transform: scale(0.98);
}

.btn--primary {
    background-color: var(--color-highlight);
    color: #000;
}

.btn--primary:hover {
    border: 2px solid var(--color-accent);
}

.btn--secondary {
    background-color: #fff;
    color: #000;
}

.btn--secondary:hover {
    border: 2px solid #727272;
}

.btn--outline {
    background-color: transparent;
    border-color: #727272;
    color: #fff;
}
.btn--outline:hover {
    border-color: #fff;
}

.btn:disabled, .btn--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #555;
    color: #aaa;
    pointer-events: none;
}