/* Card: Type Artist Vertical */
.card {
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: var(--space-m);
    transition: background-color 0.3s;
    width: 100%;
}
.card:hover {
    background-color: #383838;
}

.card__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: var(--space-m);
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
}

.card__title {
    font-weight: 700;
    margin-bottom: var(--space-xs);
    color: #fff;
}
.card__subtitle {
    font-size: var(--text-small);
    color: var(--color-text-muted);
}

/* Card: Type Artist Vertical */
.card--horizontal {
    display: flex;
    align-items: center;
    gap: var(--space-m);
}
.card--horizontal .card__image {
    width: 64px;
    height: 64px;
    margin-bottom: 0;
}

/* Card: Type Project*/
.project-card {
    background-color: var(--color-surface);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-color: var(--color-highlight);
}

.project-card__header-icon {
    height: 140px;
    background: linear-gradient(135deg, #2d2c38 0%, #1a1920 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--color-highlight);
}

.project-card__media {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    transition: transform 0.5s ease;
}

.project-card:hover .project-card__image {
    transform: scale(1.1); 
}

.project-card__body { /* Container for text */
    padding: 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project-card__title {
    margin-bottom: 0.5rem;
    color: var(--color-text-main);
    font-size: 1.25rem;
}

.project-card__description {
    font-size: 0.95rem;
    color: var(--color-text-secondary);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.project-card__tags { /* Container for tags */
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.project-card__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.05);

    margin-top: auto;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

}