/* forms groups */
.form-group {
    margin-bottom: var(--space-m);
}

.form__label {
    display: block;
    margin-bottom: var(--space-xs);
    font-size: var(--text-body);
    font-weight: 700;
}

.form__input, .form__select {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
    font-size: var(--text-body);
}

.form__input:focus {
    outline: 2px solid #fff;
    background-color: #404040;
}

.form__checkbox {
    accent-color: var(--color-accent);
    transform: scale(1.2);
}

.form__textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
    font-size: var(--text-body);
    font-family: var(--font-family);
    resize: vertical;
}