/* Font sizes of headings */
.heading--h1 { 
    font-size: var(--text-h1);
    font-weight: 700;
}

.heading--h2 { 
    font-size: var(--text-h2);
    font-weight: 700;
}

.heading--h3 { 
    font-size: var(--text-h3);
    font-weight: 600;
}

.text--body {
    font-size: var(--text-body);
    color: var(--color-text-secondary);
}