/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-m) var(--space-l);
    background-color: rgba(0,0,0,0.8);
}

.navbar__link {
    color: var(--color-text-muted);
    text-decoration: none;
    margin-left: var(--space-m);
    font-weight: 700;
}

.navbar__link:hover {
    color: #fff;

}

/* Breadcrumbs (Migas de pan) */
.breadcrumbs {
    list-style: none;
    display: flex;
    gap: var(--space-s);
    color: var(--color-text-muted);
    font-size: var(--text-small);
}

.breadcrumbs__item::after {
    content: '/';
    margin-left: var(--space-s);
    opacity: 0.5;
}

.breadcrumbs__item:last-child::after {
    content: '';
}

.breadcrumbs__link {
    color: inherit;
    text-decoration: none;
}

.breadcrumbs__link:hover {
    text-decoration: underline;
}