/* -------------------------------- CSS Variables */
:root {
    /* Theme Colors */
    --color-background-rgb: 39, 38, 46;    /* A dark background color for the overall theme */ /* Actual color: Gray */
    --color-background: rgb(var(--color-background-rgb));
    --color-background-contrast: #1d1c23; /* A darker background for components/sections contrast */

    --color-highlight-rgb: 126, 12, 180; /* Accent color for contrast elements */ /* Actual color: Purple*/
    --color-highlight: #ba67e2;
    --color-accent-rgb: 255, 159, 225; /* A lighter accent color for highlights or interactive elements ; rgb(255 159 225)*/
    --color-accent: rgb(var(--color-accent-rgb));

    --color-surface: #282828; /* A surface color for cards, modals, or other elevated elements */
    /* States */
    --color-success: #2ecc71;
    --color-error: #e74c3c;
    --color-warning: #f1c40f;

    /* Fonts */
    --font-family: 'Segoe UI', system-ui, sans-serif;
    --text-h1: 2rem;   /* 32px */
    --text-h2: 1.5rem;   /* 24px */
    --text-h3: 1.25rem;   /* 20px */
    --text-body: 1rem;   /* 16px */
    --text-small: 0.875rem; /* 14px */

        /* Colors */
    --color-text-main: #f1f5f9; /* Main text color for titles or subtitles*/
    --color-text-secondary: #d7d7d7; /* Secondary text color for body text or less important information */ 
    --color-text-muted: #727272; /* Muted text color for placeholders or disabled text */
    --color-text-highlight: #ba67e2; /* Accent color for important text */

    /* Spacing */
    --space-xs: 0.25rem;   /* 4px */
    --space-s: 0.5rem;    /* 8px */
    --space-m: 1rem;      /* 16px */
    --space-l: 1.5rem;    /* 24px */
    --space-xl: 2rem;      /* 32px */
    --space-xxl: 3rem;     /* 48px */

}

/* Global rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-background);
    color: var(--color-text-secondary);
    
    font-weight: 400; 
}

a {
    text-decoration: none;
}